@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ice-blue: #D6E6F3;
  --powder-blue: #A6C5D7;
  --sapphire: #0F52BA;
  --deep-navy: #000926;
}

body {
  background-color: var(--ice-blue);
  color: var(--deep-navy);
}
